{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Threat Intel{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="POST" action="/threat" class="clean-form">
        <table class="clean-table">
            <tr>
                <th>Field1</th>
                <th>Field2</th>
            </tr>
            <tr>
                <td><input type="text" name="Field1" id="Field1" required></td>
                <td><input type="text" name="Field2" id="Field2" required></td>
            </tr>
        </table>
        <button type="submit" class="submit-btn">Submit</button>
    </form>
{% endblock %}