<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form with 10 Text Fields</title>

</head>
<body>
    <h1>Form to Enter Data</h1>
    <form method="POST" action="/submit">
        <table>
            <tr>
                <th>Field_1</th>
                <th>Field_2</th>
            </tr>
            <tr>
                <td><input type="text" name="field1" required></td>
                <td><input type="text" name="field2" required></td>
            </tr>
        </table>
        <button type="submit" class="submit-btn">Submit</button>
    </form>
</body>
</html>