{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}admin{% endblock %}</h1>
{% endblock %}

{% block content %}
    <table class="clean-table">
            <thead>
                <tr>
                    <th>Admin Panel</th>
                    <th>Actions</th>
                </tr>
            </thead>

    {% for post in posts %}
    <form method="POST">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title" value="{{ post.title }}" required>
            </div>
            <div class="form-group">
                <label for="content">Content</label>
                <textarea class="form-control" id="content" name="content" rows="5">{{ post.content }}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
    {% endfor %}

    {% for threat in threats %}
    <form method="POST">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title" value="{{ threat.title }}" required>
            </div>
            <div class="form-group">
                <label for="content">Content</label>
                <textarea class="form-control" id="content" name="content" rows="5">{{ threat.content }}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
    {% endfor %}

{% endblock %}